.area{
    border:solid 1px rgb(115, 189, 250);
    border-radius: 15px;
    margin: 1px;
    padding: 1px;
}

.title_area{
    
    padding-bottom: 0px;
    padding-top: 0px;
    
}

.menuSelesct ul {
    list-style:none;
    padding:0px;
    margin:0px;
}


.menuSelesct button {
    width: 100%;
}