
.title3DEt{
    background-color:rgb(115, 189, 250);
    padding: 5px;
    margin-bottom: 10px;
    color: #FFF;
    font-weight: bold;

}

.radioButton{
    margin-left: 5px;
}

.textDireita{
    text-align:left
}