{% extends "layout/base.html" %}

{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    Alterar Senha | {{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/spectrum-colorpicker/spectrum.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/select2/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
{% endblock %}


{% block container%}

<form  action = " "  method="post" >
    {% csrf_token%}

    <div class="pd-30 pd-sm-120 bg-gray-200 wd-xl-100p">
        <div class="row row-xs">	
            <div class="col-md-4 mg-t-12 mg-md-t-0">
                        
            </div><!-- col -->	
            <div class="col-md-3 mg-t-12 mg-md-t-0">
                <center><h3 class="mg-b-20">Alterar Senha</h3></center>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div><!-- col -->			
            <div class="col-md-6 mg-t-12 mg-md-t-0">
                <label style="display:none" for="{{ form.old_password.auto_id }}">Senha Antiga</label>
                {% render_field form.old_password class="form-control" placeholder="Senha Antiga" %}
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>                    
                {% endfor %}                                
            </div><!-- col -->	
            <div class="col-md-6 mg-t-12 mg-md-t-0">
                <label style="display:none" for="{{ form.new_password1.auto_id }}">Nova Senha</label>
                {% render_field form.new_password1 class="form-control" placeholder="Nova Senha" %}
                {% for error in form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>                    
                {% endfor %}                
                <br>
            </div><!-- col -->	
            <div class="col-md-6 mg-t-12 mg-md-t-0">
                <label style="display:none" for="{{ form.new_password2.auto_id }}">Confirmar Senha</label>
                {% render_field form.new_password2 class="form-control" placeholder="Confirmar Senha" %}
                {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>                    
                {% endfor %}                 
            </div><!-- col -->	
            <div class="col-md-6 mg-t-12 mg-md-t-0">
                <br>	
            </div><!-- col -->
            <div class="col-md-6 mg-t-12 mg-md-t-0">
            </div><!-- col -->
            <div class="col-md-8 mg-t-12 mg-md-t-0">
                <br><br>
            </div><!-- col -->	
            <div class="col-md-11 mg-t-12 mg-md-t-0">
            </div><!-- col -->	
            <div class="col-md-4 mg-t-12 mg-md-t-0">
            </div><!-- col -->
            <div class="col-md-3 mg-t-12 mg-md-t-0">
                <button class="btn btn-az-primary btn-block" type = "submit">Cadastrar</button>
            </div><!-- col -->
        </div>
    </div>


</form >
{% endblock %}


{% block scripts %}
    
    <script src="{% static 'assets/jquery-ui/ui/widgets/datepicker.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/ionicons/ionicons.js' %}"></script>
    <script src="{% static 'assets/jquery.maskedinput/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'assets/spectrum-colorpicker/spectrum.js' %}"></script>
    <script src="{% static 'assets/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>           
    <script src="{% static 'assets/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>    
    
{% endblock %}